image: python:latest

stages:
  - unittest
  - telemetry-test

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

# Pip's cache doesn't store the python packages
# https://pip.pypa.io/en/stable/topics/caching/
cache:
  paths:
    - .cache/pip
    - venv/

before_script:
  - python --version  # For debugging
  - pip install virtualenv
  - virtualenv venv
  - source venv/bin/activate

unittest:
  script:
    - python -m pip install urllib3 charset_normalizer certifi idna Levenshtein requests pyopenssl apprise pytest
    - pytest --junitxml=lltest.xml unittests/test_formatter.py
  artifacts:
    when: always
    reports:
       junit: lltest.xml

telemetry-test:
  script:
    - pytest --junitxml=lltest.xml unittests/test_telemetry.py
