default:
  image: python:latest

  cache:
    paths:
      - .cache/pip
      - venv/

  before_script:
    - python --version  # For debugging
    - pip install virtualenv
    - virtualenv venv
    - source venv/bin/activate

stages:
  - test

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"


unittest:
  stage: test
  script:
    - python -m pip install urllib3 charset_normalizer certifi idna Levenshtein requests pyopenssl apprise pytest mock pytest_order
    - pytest --junitxml=lltest.xml unittests/test*.py
  artifacts:
    when: always
    reports:
       junit: lltest.xml
