image: python:latest

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

# Pip's cache doesn't store the python packages
# https://pip.pypa.io/en/stable/topics/caching/
cache:
  paths:
    - .cache/pip
    - venv/

before_script:
  - python --version  # For debugging
  - pip install virtualenv
  - virtualenv venv
  - source venv/bin/activate

test:
  script:
    - python -m pip install urllib3 charset_normalizer certifi idna Levenshtein pyopenssl apprise pytest
    - python -m pip uninstall requests # Use the one we ship
    - pytest --junitxml=lltest.xml unittests 
  artifacts:
    when: always
    reports:
       junit: lltest.xml
