default:
  image: python:latest

  cache:
    paths:
      - .cache/pip
      - venv/

  before_script:
    - python --version  # For debugging
    - pip install virtualenv
    - virtualenv venv
    - source venv/bin/activate
    - scripts/ci/install-required-modules.sh

  artifacts:
    when: always
    reports:
       junit: lltest.xml
       coverage_report:
        coverage_format: cobertura
        path: coverage.xml

stages:
  - test
  - package

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

test_all_mods:
  stage: test
  script:
    - scripts/ci/install-optional-modules.sh
    - scripts/ci/runtests.sh
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'

test_min_mods:
  stage: test
  script:
    - scripts/ci/remove-optional-modules.sh
    - scripts/ci/runtests.sh
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'

test_all_mods-earliest:
  image: python:3.7 # Will be end of life on 24 June 2023
  stage: test
  script:
    - scripts/ci/install-optional-modules.sh
    - scripts/ci/runtests.sh
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'

test_min_mods-earliest:
  image: python:3.7 # Will be end of life on 24 June 2023
  stage: test
  script:
    - scripts/ci/remove-optional-modules.sh
    - scripts/ci/runtests.sh
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'

build_latest:
  stage: package
  script:
    - python3 -m build
  artifacts:
    paths:
      - dist/

