default:
  image: python:latest

  cache:
    paths:
      - .cache/pip
      - venv/

  before_script:
    - python --version  # For debugging
    - pip install virtualenv
    - virtualenv venv
    - source venv/bin/activate
    # Minimal modules
    - python -m pip install charset_normalizer certifi idna
    # Testing modules
    - python -m pip install pytest mock pytest_order pytest-cov coverage

  artifacts:
    when: always
    reports:
       junit: lltest.xml
       coverage_report:
        coverage_format: cobertura
        path: coverage.xml

stages:
  - test

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

unittest_allmodules:
  stage: test
  script:
    # Install optional modules
    - python -m pip install pillow lxml soupsieve Levenshtein apprise requests pyopenssl urllib3
    - coverage run --source=lazylibrarian/ -m pytest  --junitxml=lltest.xml ./unittests/test*.py
    - coverage report
    - coverage xml
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'

unittest_minimalmodules:
  stage: test
  script:
    # Remove optional modules if they are there
    - python -m pip uninstall pillow lxml soupsieve Levenshtein apprise requests pyopenssl urllib3 -y
    - coverage run --source=lazylibrarian/ -m pytest  --junitxml=lltest.xml ./unittests/test*.py
    - coverage report
    - coverage xml
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'

unittest_allmodules-earliest:
  image: python:3.7 # Will be end of life on 24 June 2023
  stage: test
  script:
    # Install optional modules
    - python -m pip install pillow lxml soupsieve Levenshtein apprise requests pyopenssl urllib3
    - coverage run --source=lazylibrarian/ -m pytest  --junitxml=lltest.xml ./unittests/test*.py --verbose
    - coverage report
    - coverage xml
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'

unittest_minimalmodules-earliest:
  image: python:3.7 # Will be end of life on 24 June 2023
  stage: test
  script:
    # Remove optional modules if they are there
    - python -m pip uninstall pillow lxml soupsieve Levenshtein apprise requests pyopenssl urllib3 -y
    - coverage run --source=lazylibrarian/ -m pytest  --junitxml=lltest.xml ./unittests/test*.py --verbose
    - coverage report
    - coverage xml
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
